* {
  margin: 0;
}

#container {
  margin: 50px 25%;
  width: 50%;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 50px;
}

ul {
  padding: 4px;
  list-style: none;
}

li {
  margin-bottom: 40px;
}

code.command-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Menlo;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: Helvetica;
}

p.description {
  padding-top: 10px;
}

p.example-in {
  padding-top: 16px;
}

p.example-in::before {
  content: '样例输入：';
  font-weight: bold;
}

p.example-out::before {
  content: '样例输出：';
  font-weight: bold;
}
