* {
  margin: 0;
}

#container {
  margin: 50px 25%;
  width: 50%;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 50px;
}

ul {
  padding: 4px;
  list-style: none;
}

li {
  margin-bottom: 40px;
}

code.command-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Menlo;
}

p.description {
  font-family: Helvetica;
  padding-top: 10px;
}
